html,body{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    background-color:#292325;
}
footer{
    background-color: #705b5b;
    color: rgb(255, 255, 255);
    bottom: 0px;
    position: sticky;
    width: 100%;
}
header{
    background-image: url("../images/head.jpeg");
    background-size:cover;
    width: 100%;
    height: auto;
}
header h1{
    font-size: 50px;
    color: #ffffff;
    text-align: center;
    width: auto;
    margin-bottom: 15px;
    margin: 0px;
    margin-top:0px;
    padding-top: 45px;
    line-height: 1;
}
header h1 span{
    color: #6f2230;
}
header h2{
    font-size: 15px;
    margin: 0px;
    text-align: center;
    width: auto;
    padding-bottom: 45px;
    color: #ffffff;
    opacity: .6;
    font-weight: lighter;
}
header img{
    width: 10%;
    height: auto;
}
ul.side_bar{
    top: 0px;
    position: sticky;
    margin: 0px;
    padding:0px;
}
ul.side_bar a{
    background-color: #7e1535;
    float:left;
    display: block;
    width: 33.33%;
    text-align: center;
    line-height: 3;
    color: whitesmoke;
    text-decoration: none;
    font-size: 17px;
}
ul.side_bar li {
    display: inline;
}
ul.side_bar a:hover{
    background-color: #470620;
}
.news{
    width: 100%;
    height: 100%;
    display:inline-block;
    margin-bottom: 100px;
}
.news p{
    color: #e7e7e7;
}
.news h5{
    color: #e7e7e7;
}
.news p dd{
    font-size: 20px;
    color: #e7e7e7;
}
@media screen and (min-width: 800px)
{
.shrort_news{
    float: left;
    display: block;
    padding: 2%;
    width: 29%;
    height: 380px;
    text-align:justify;
    margin-bottom: 3em;
}
.shrort_news h5{
    font-size: 18px;
}
.shrort_news p{
    font-size: 14px;
}
p.time{
    font-size: 12px;
}
}
@media screen and (max-width: 800px)
{
    .shrort_news{
        float: left;
        display: block;
        padding: 2%;
        width: 46%;
        height: 380px;
        text-align:justify;
        margin-bottom: 3em;
    }
    .shrort_news h5{
        font-size: 16px;
    }
    .shrort_news p{
        font-size: 12px;
    }
    p.time{
        font-size: 10px;
    }
}
.shrort_news img{
    max-width: 100%;
    display:block;
    border-radius: 10px;
}
.shrort_news a{
    margin-top: 10px;
    display: inline-block;
    vertical-align: top;
    padding: 8px 8px;
    border: 1px solid #412c32;
    border-radius: 10px;
    text-decoration: none;
    color:#e4d7db;
    font-size: 14px;
    background: #7e1535;
    margin-top: 10px;
}
.shrort_news h5{
    margin:0px;
    margin-top: 12px;
}
.shrort_news p{
    margin-bottom: 0px;
}
p.time{
    color:grey;
    margin-bottom: 30px;
}
.contacts{
    color: #e7e7e7ee;
    font-size: 16px;
}
.contacts p{
    margin-top: 10px;
}
.contacts img{
    margin-top: 0px;
}
.contacts a:link {
    color: #ca7988;
  }
  